.container {
  /* For the main AddressStep wrapper */
}

.flex {
  display: flex;
  gap: 16px;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  gap: 8px;
  margin: 12px 0;
}

.checkboxesGroup {
  margin: 0;
  padding: 0;
  gap: 0;
}

.checkboxesGroup > .flexAlignCenter:first-child {
  border-bottom: 1px solid #EFF1F5;
}

.inputFull {
  width: 100%;
  margin-bottom: 0;
  font-size: 13px;
  color: rgba(58, 64, 69, 0.38);
  font-family: 'Poppins', sans-serif;
}

.inputHalf {
  flex: 1;
  margin-bottom: 8px;
}

.inputDouble {
  flex: 2;
  margin-bottom: 8px;
}

.label {
  font-size: 13px;
  color: #3A4045;

  flex: 1;
}

.flexLeft {
  display: flex;
  gap: 16px;
}
.flexLeft > :first-child {
  flex-basis: 65%;
  flex-grow: 1;
}
.flexLeft > :nth-child(2) {
  flex-basis: 35%;
  flex-grow: 0;
}

.flexRight {
  display: flex;
  gap: 16px;
}