.inputFullWidth {
  width: 100%;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 16px;
}

.inputFullWidth::placeholder {
  color: rgba(58, 64, 69, 0.38);
  opacity: 1;
}

.inputFullWidth:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(58, 64, 69, 0.38);
}

.inputFullWidth::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(58, 64, 69, 0.38);
}

